@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama?styles=170364');

body{
    font-family: "Inter", sans-serif;
}

.Shape{
    font-family: 'Miama', sans-serif;
    font-size : 4.875rem;
    font-weight: 400;
    line-height: 0;
}

  
*{
    margin: 0;
    padding: 0;
}
 
/* Shared Styles */
body{
    background-color: black;
}

.max-width{
    max-width: 1060px;
    margin: 0 auto;
}

/* Banner Design */

header{
    background: linear-gradient(to bottom, rgba(17, 17, 17, 1), rgba(119, 119, 119, 0.5),rgb(0, 0, 0));
    padding-top: 57px;
}

/* Banner Navigation Design */

a{
    text-decoration: none;
}
li{
    list-style: none;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-nav >ul{
    display: flex;
    gap: 47px;
}

.right-nav{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 24px;
    padding-left: 4px;
}

.fitness{
    color: #E6533C;
    font-weight: 800;
    font-style: italic;
    font-size: 2.25rem;
}

.nav-text{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.125rem;
}
.home{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.125rem;
    background-color: #E6533C;
    padding: 8px 24px ;
    border-radius: 46px;

}

/* Banner Navigation Design End */

/* Banner Content Design */
.banner-content{
    margin-top: 96px;
    max-width: 520px;
}

.Banner-heading{
    font-size: 4.875rem;
    font-weight: 800;
    color: #FFFFFF;
}
.Banner-para{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 28px;
    margin-bottom: 28px;
}

.join-club{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.125rem;
    background-color: #E6533C;
    padding: 16px 46.5px ;
    border-radius: 42px;
    border: none;
}

.Download{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.125rem;
    background-color: transparent;
    padding: 16px 48px ;
    border-radius: 42px;
    border: 1px solid white;
}
.Banner-btn{
    display: flex;
    gap: 14px;
}
.banner-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.number-350{
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: 800;
}

.video{
    border-radius: 12px;
    width: 206px;
    height: 96px;
    background: rgba(48, 48, 48, 0.94);
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 23px;
    gap: 12px;
    position: relative;
    margin-left: 70px ;
    margin-top: -163px;
   
}

.tutorial{
    font-size: 1rem;
    color: rgba(239, 237, 232, 0.65);
    font-weight: 400;
    
}

.number-500{
    font-size: 2.5rem;
    color: #FFFFFF;
    font-weight: 800;
}

.Free{
    border-radius: 12px;
    width: 193px;
    height: 98px;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 16px;
    position: relative;
    top: -400px;
    margin-left: 380px;
}

.work{
    font-size: 0.81rem;
    color: rgba(239, 237, 232, 0.65);
    font-weight: 400;
}

.red{
    background: #E6533C;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.banner-pic{
    height: 580px;

}

.pic-fix{
    margin-left: 60px;
    margin-top: 32px;
    margin-left: 167px;
}

.icon{
    display: none;
}

.icons{
    padding: 40%;
    padding-top: 18px;
    padding-left: 14px;
}
/* Banner Content Design Done */

/* //Change Habits Section// */
.max-width-2{
    max-width: 1440px;
    margin-top: 100px;
    
}
.change-habits{
    align-items: center;
    padding: 100px 198px;
}
.habit-head{
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-bottom: 14px;
}
.habit-para{
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    text-align: center;
    margin-bottom: 58px;
}
.round-pic{
    border-radius: 50%;
    margin-bottom: 30px;
    border: 4px solid rgba(255, 255, 255, 0.1);
}
.pic-head{
    font-size: 1.125rem;
    color: white;
    font-weight: 600;
    text-align: center;
    margin-bottom: 6px;
}
.change-habits-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    gap: 66px;
}

/*// Change Habits Section Done// */

/*/// Run Section /// */
.max-width-run{
    max-width: 1060px;
    background-color: rgba(34, 34, 34, 1);
    margin: 0 auto;
    border-radius: 18px;
    padding: 41px 32px 40px 54px;
    margin-bottom: 100px;
    max-height: 320px;
}
.run-content{
    max-width: 309px;
}
.run-head{
    font-size: 3rem;
    color: #FFFFFF;
    font-weight: 800;
    text-align: left;
    margin-bottom: 14px;
}
.run-para{
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
    margin-bottom: 34px;
    font-weight: 400;
}
.run-btn{
    font-size: 1.125rem;
    color: #FFFFFF;
    background-color: #E6533C;
    border-radius: 42px;
    padding: 16px 71px;
    border: none;
    margin-bottom: 40px;
}

.run-pic{
    object-fit: none;
    object-position: 67% 34%;
    height: 340px;
    width: 440px;
    border-radius: 18px;
}
.run-flex{
    display: flex;
    justify-content: space-between;
    gap: 140px;
}
/*/// Run Section Done /// */

/* Special Section */
.Special{
    max-width: 1220px;
    margin: 0 auto;
}
.special-head{
    font-size: 2.5rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 30px;
}
.center{
    text-align: center;
    margin-bottom: 57px;
}
.special-content-pic{
    object-fit: cover;
    width: 373px;
    height: 250px;
    border-radius: 20px;
}
.left{
    text-align: left;
}
.special-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 102px;
}

/* Special Section Done */

/* BMI Section */
.BMI-Content{
    margin: 0 auto;
    max-width: 671px;
    margin-bottom: 88px;
}
.BMI-head{
    font-size: 3rem;
    font-weight: 800;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 14px;
}
.BMI-Para{
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
}

.form-bg{
    background: rgba(34, 34, 34, 1);
    padding-left: 187px;
    padding-right: 189px;
    margin: 0 auto;
    height: 487px;
}

.chart{
    max-width: 312px;
    padding-top: 57px;
}
.Cal-head{
    font-size: 1.75rem;
    margin-bottom: 52px;
}
td,th{
    padding: 13px 18px;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
table{
    border-collapse: collapse;
    width: 100%;
}
.th-style{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}
.form-content{
    max-width: 577px;
}
input[type="text"], select {
    width: 289px;
    padding: 12px 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
}
input[type="number"]{
    padding: 12px 20px;
    width: 280px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
}
.hide{
    display: none;
}
.form-content{
    margin-top: 49px;
}
.form-1{
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}
.chart-flex{
    display: flex;
    justify-content: space-between;
}
.cal-BMI-Head{
    color: white;
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 14px;
    margin-left: 175px;
}
.cal-BMI-para{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 34px;
    margin-left: 175px;
}
.form{
    margin-left: 175px;
}
.factor{
    width: 418px;
    margin-bottom: 34px;
}
.calculate{
    width: 224px;
    height: 54px;
    font-size:1.125rem ;
    font-weight: 500;
    padding: 16px 70px;
}
/* BMI Section Done */

/* Meet The Team Design */
.Team-content{
    margin-top: 88px;
    text-align: center;
}
.Team-Head{
    font-size: 3rem;
    font-weight: 900;
    color: white;
    text-align: center;
    margin-bottom: 14px;
}
.margin-bottom{
    margin-bottom: 49px;
}
.team-para{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 0.875rem;
    font-weight: 400;
}
.team-photo-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin: 0 auto;
    max-width: 1060px;
    border-radius: 18px;
    
}
.position{
  position: relative;
  width: 327px;
  height: 272px;
  margin-bottom: 20px;
  border-radius: 18px;
  overflow: hidden;
  margin-left: 14px;
}
.position-2{
 position: relative;
  width: 327px;
  height: 272px;
  border-radius: 18px;
  overflow: hidden;
  margin-left: 14px;
}
.team-pic{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter:brightness(80%);
}
.team-details{
 position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 19px;
  text-align: left;
  font-size: 1.25rem;
  font-weight: 900;
}
#Trainer{
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  font-weight: 400;
}
/* Meet The Team Design Done */

/* Footer Design */
footer{
    margin-top: 88px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 66px 180px;
}

.fitness-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-around;
    
}

.fitness-content{
    margin-right: 289px;
}
.re{
    font-size: 4.375rem;
    margin-bottom: 20px;
    text-align: left;
}
.re-2{
    font-size: 0.875rem;
    text-align: left;
}
.get{
    font-size: 2rem;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 39px;
}
ul>li{
    margin-bottom: 20px;
}

.hr{
    margin-bottom: 36px;
    color: rgba(255, 255, 255, 0.5); 
    margin-top: 79px;
}

.re-3{
    color: rgba(255, 255, 255, 0.5);   
    margin-bottom: 35px;
}
/* Footer Design Done */
  
/* Responsive Media Query */
@media screen and (max-width: 576px) {

    /* Banner  Repository*/
    header{
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .right-nav , .cut{
        display: none;

    }
    .icon{
        display: block;
        
    }
    .icons{
        padding: 44%;
        padding-left: 16px;
    }
    .banner-flex{
        flex-direction: column;
    }
    .Banner-heading , .Shape{
        font-size: 2.25rem;
    }
    .banner-content{
        margin-top: 51px;
    }
    .Banner-para{
        align-items: center;
    }
    .join-club ,
    .Download{
    padding: 16px 41px ;
    width: 169px;
    height: 54px;
    font-size: 0.76rem;
    }
    .Banner-btn{
        flex: 1;
        gap: 14px;
    }
    .pic-fix{
        width: 90%;
        margin-left: 60px;
        margin-top: 32px;
        }
        .video{
            width: 155px;
            height: 72px;
            padding: 15px 18px;
            margin-left: 60px ;
            margin-top: -340px;
        }
        .number-500 {
            font-size: 1.1rem;
        }
        .tutorial{
            font-size: 0.65rem;
            padding: 0;
        }
        .Free{
            width: 145px;
            height: 74px;
            padding-bottom: 16px;
            position: relative;
            top: -290px;
            margin-left: 260px;
        }
 /* Banner repository Done*/

 /* //Change Habits Section repository// */
 .change-habits{
        align-items: center;
        padding: 0px 28px;
    }
    .habit-head{
        margin-top: 0;
        font-size: 2rem;
    }
    .change-habits-grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        gap: 0px;
        padding-left: 107px;
        padding-right: 106px;
    }
 /* //Change Habits Section repository Done// */

 /* Run Section */
.run-flex{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 0px;
}
.max-width-run{
    max-width: 353px;
    border-radius: 18px;
    padding-left: 20px;
    padding-right: 20px;
    max-height: 571px;
}

.run-content{
    max-width: 287px;
    padding-left: 33px;
    padding-right: 33px;
}
.run-head{
    font-size: 2rem;
}
.run-para{
    font-size: 0.875rem;
    font-weight: 300;
    text-align: left;
}
.run-btn{
    padding: 16px 106px;
    margin-bottom: none;
}
.run-pic{
    object-fit: cover;
    object-position: 0;
    height: 100%;
    width: 100%;
    border-radius: 18px;
}
/* Run Section Done */

/* Special Section */
.special-grid{
    grid-template-columns: repeat(1,1fr);
    gap: 28px;
}
.Special{
    padding-left: 20px;
    padding-right: 20px;
}
/* Special Section Done */

/* BMI Section */
.BMI-Content{
    padding: 20px;
    margin-bottom:13px;
}
.BMI-head{
    font-size: 2rem;
}
.chart{
    max-width: 310px;
    padding-top: 34px;
}
.Cal-head{
    font-size: 1rem;
    margin-bottom: 23px;
}
td,th{
    padding: 14px;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    height: 216px;
    width: 340px;
}
.mobile-pad{
    padding: 14px;
}
.chart-flex{
    display: flex;
    flex-direction: column;
}
.form-bg{
    background: rgba(34, 34, 34, 1);
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    height: auto;
}
.form-content{
    width: 354px;
}
.form-content{
    margin-top: 49px;
}
.form-1{
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}

.chart-flex{
    display: flex;
    justify-content: space-between;
}
.cal-BMI-Head{
    font-size: 1rem;
    margin-left: 0px;
}
.cal-BMI-para{
    margin-left: 0px;
}
.form{
    margin-left: 0px;
}
.factor{
    width: 353px;
    margin-bottom: 34px;
}
input[type="text"], select {
    width: 289px;
    padding: 12px 20px;
}
input[type="number"]{
    padding: 13px;
    width: 200px;
}
.calculate{
    width: 224px;
    height: 54px;
    font-size:1.125rem ;
    font-weight: 600;
    margin-bottom: 43px;
}
/* BMI Section Done */

/* Meet Team Section Repository */
.Team-content{
    margin-top: 85px;
    
}
.Team-Head{
    font-size: 2rem;
}
.margin-bottom{
    margin-bottom: 37px;
}

.team-photo-grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    padding-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 1060px;
    border-radius: 18px;
}
.hidden{
    display: none;
}
.position-2{
  margin-bottom: 20px;
}

.team-details{
  padding: 18px;
}
/* Meet Team Section Repository Done*/

/* Footer Section repository */
footer{
    margin-top: 44px;
    padding-top: 44px;
    padding-left: 20px;
    padding-right: 24px;
}

.fitness-grid{
    grid-template-columns: repeat(1,1fr);
    
}
.fitness-content{
    margin-right: 0px;
}
.mob{
    font-size: 1.4rem;
}
.get{
    margin-top: 30px;
}

/* Footer Section Done */
}  
